nav{
    background-color: purple;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0%;
}
.nav-h1,.nav-ul,.nav-li{
    display: inline;
    
}
.nav-ul{
    margin-left: 50%;
    
}

.nav-li,.dropdown{
    padding: 10px;
   
    


}
li{
    list-style-type: none;
}


.nav-li:hover{
    background-color: orange;
    color: white    ;
}
.dropdown{
    position: relative;
    display: inline-block;
  
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 150px;
    
    
}
.dropdown-content a{
    display:block;
    padding: 10px;
    text-decoration: none;
    color:white;
}
.dropdown:hover .dropdown-content{
    display: block;
}


a:link,a:visited{
  color: white;
    
}
body{
    background-image: url('image11.jpg');
    background-size: 100%;

  }
h1,ul,li,p,a{
    text-align: center;
}
  



/* **************** */
.footer{
    background-color: purple;
    color: hsl(0, 7%, 89%);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20.5px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: color 2s;
}
.footer a:hover{
    color: #f39c12;
}

div{
    margin-left: 50px;
    margin-right: 50px ;
}